.profile-container {
    max-width: 800px;
    margin: 1.3cm auto 0;
    padding: 40px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }

  .email-error {
    font-size: 12px;
    font-style: italic;
    color: red;
    margin-top: 20px;
  }

  .profile-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .profile-form .form-group {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .profile-form .form-control {
    width: 100%;
    padding: 8px;

    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .btn {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn:hover {
    background-color: #c82333;
  }
  .form-group-row {
    display: flex;
    justify-content: space-between;
  }

  .form-group-item {
    flex-basis: 48%;
  }

  .input-group {
    position: relative;
  }
  
  .edit-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .form-control.rounded {
    border-radius: 10px;
    padding-right: 30px; /* Adjust the padding to accommodate the edit icon */
  }

  .profile-picture {
    width: 100 px;
    height: 100 px; 
    border-radius: 50%;
  }
  